@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "BlogPage.cshtml";
}

@{
	var selection = Model.Content.Site().FirstChild("blogPage").Children("blogItem")
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
		    <h1>@item.Name</h1
		    <h4>@Umbraco.Field("blogTeaser")</h4>
			<a href="@item.Url"><img src="@item.Url"/></a>
			
			@{
                var typedMediaPickerSingle = item.GetPropertyValue<IPublishedContent>("blogImage");
                if (typedMediaPickerSingle != null)
                {
                    <p>@typedMediaPickerSingle.Url</p>
                    <img src="@typedMediaPickerSingle.Url" style="width:200px" alt="@typedMediaPickerSingle.GetPropertyValue("alt")" />
                }
            }    
			
			
		</li>
	}
</ul>


@* the fun starts here *@

